@import "../../assets/style/mixin";
@import "../../assets/style/variable";

.home {
  //顶部轮播图
  .home-banner {
    width: 100%;
    background-color: #cccccc;
    position: relative;
    //轮播盒子背景毛玻璃图片
    .home-banner-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    //轮播图盒子
    .home-banner-wrap {
      width: 982px;
      height: 285px;
      margin: 0 auto;
      position: relative;

      .carousel-btn-right {
        right: -322px;
      }

      //下载客户端
      .home-banner-download {
        width: 254px;
        height: 285px;
        background-image: url("../../assets/images/home-download.png");
        @include BackgroundPosition(0 0);
        position: absolute;
        top: 0;
        right: -1px;

        a {
          display: block;
          width: 215px;
          height: 56px;
          margin: 185px auto 19px;
          text-indent: -9999px;
          background-image: url("../../assets/images/home-download.png");
          @include BackgroundPosition(0 9999px);
          cursor: pointer;

          &:hover {
            @include BackgroundPosition(0 -290px);
          }
        }

        p {
          margin: 10px auto;
          text-align: center;
          color: #8d8d8d;
          font-size: 12px;
        }
      }
    }
  }

  //content
  .home-content {
    width: $wrapWidth;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    @include Flex($justify: flex-start, $align: flex-start);
    //content列表
    .home-content-left {
      width: 729px;
      padding: 20px 20px 40px;
      border-right: 1px solid #d3d3d3;
      //热门推荐
      .home-popular-recommendation {
        @include Flex($justify: start);
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 35px;
        //热门推荐item
        .popular-recommendation-item {
          margin-right: 42px;

          &:nth-of-type(4n) {
            margin-right: 0;
          }
        }
      }

    }

    .home-content-right {
      width: 250px;
    }
  }

  //热门推荐分类
  .popular-categories {
    @include Flex($justify: start);
    margin: 0 auto 0 20px;

    > a {
      &:nth-last-of-type(1) {
        span {
          display: none;
        }
      }

      a {
        color: #666666;
        cursor: pointer;
      }

      span {
        margin: 0 10px;
        color: #cccccc;
      }
    }
  }


  //新碟上架
  .home-new-shelf {
    width: 100%;
    height: 184px;
    background-color: #f5f5f5;
    border: 1px solid #ffffff;
    position: relative;
    overflow: hidden;
    margin-bottom: 37px;

    //滑动按钮
    .new-shelf-left, .new-shelf-right {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 50%;
      z-index: 5;
      transform: translateY(-50%);
      background-image: url("../../assets/images/index-bg.png");
    }

    .new-shelf-right {
      right: 0;
      @include BackgroundPosition(-300px -75px);

      &:hover {
        @include BackgroundPosition(-320px -75px);

      }
    }

    .new-shelf-left {
      @include BackgroundPosition(-260px -75px);

      &:hover {
        @include BackgroundPosition(-280px -75px);
      }
    }

    //轮播内容
    .new-shelf-box {
      width: 400%;
      height: 100%;
      @include Flex($justify: flex-start);
      position: absolute;

      > li {
        width: 25%;
        height: 100%;
        padding: 0 16px;
        @include Flex($justify: space-around);
      }

    }
  }

  //榜单
  .home-top {
    width: 688px;
    border: 1px solid #c2c2c2;
    margin-top: 20px;
    @include Flex($justify: start);

    > li {
      border-right: 1px solid #c2c2c2;
      width: 228px;

      &:nth-last-of-type(1) {
        border: none;
      }
    }
  }

  //登录
  .user-login {
    width: 100%;
    height: 126px;
    background-image: url("../../assets/images/index-bg.png");
    @include BackgroundPosition;

    p {
      width: 205px;
      margin: 16px auto;
      line-height: 22px;
    }

    div {
      margin: 0 auto;
      width: 100px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 1px 0 #8a060b;
      background-image: url("../../assets/images/index-bg.png");
      @include BackgroundPosition(0 -195px);
    }
  }

  //热门主播
  .popular-anchors {
    margin-top: 30px;

    h3 {
      margin: 0 20px;
      font-size: 12px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      color: #333333;
    }

    ul {
      margin: 20px 5px 0 20px;

      li {
        width: 100%;
        cursor: pointer;
        @include Flex($justify:flex-start);
        margin-bottom: 10px;
        img {
          width: 40px;
          height: 40px;
          box-shadow: 0 0 1px #333333 inset;
          margin-right: 10px;
        }

        div {
          width: calc(100% - 50px);

          p {
            width: 100%;
            font-size: 12px;
            line-height: 21px;
            color: #333333;
            font-weight: 600;

            &:nth-of-type(2) {
              color: #666666;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}


